<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="serviceConfiguration.xml"/>
    
    <bean id="requestHandler" class="handler.RequestHandler">
        <property name="danbooruController" ref="danbooruController"/>
    </bean>

    <bean id="danbooruController" class="controller.DanbooruController">
        <property name="harvestService" ref="danbooruHarvestService"/>
        <property name="downloadService" ref="downloadService"/>
    </bean>

    <bean id="view" class="view.MainView">

    </bean>

</beans>
